name: Build APK

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build-apk:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'
    
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y \
          python3-pip \
          build-essential \
          git \
          zip \
          unzip \
          openjdk-11-jdk \
          libncurses5-dev \
          libgdbm-dev \
          libsqlite3-dev \
          libssl-dev \
          libffi-dev \
          libbz2-dev \
          liblzma-dev \
          tk-dev
    
    - name: Install Buildozer
      run: pip install buildozer cython==0.29.33
    
    - name: Build Android APK
      run: |
        buildozer init
        echo '[app]
title = Мячик Баскетбол
package.name = myachik
package.domain = com.antoha
source.dir = .
source.include_exts = py,png,jpg,kv,atlas,ttf,mp3,wav,ogg
version = 1.0
requirements = python3,kivy==2.1.0
orientation = portrait
fullscreen = 0
android.permissions = INTERNET
android.api = 30
android.minapi = 21
android.sdk = 23
android.ndk = 23b
android.accept_sdk_license = True

[buildozer]
log_level = 2' > buildozer.spec
        buildozer -v android debug
    
    - name: Upload APK
      uses: actions/upload-artifact@v3
      with:
        name: Мячик-APK
        path: bin/*.apk
        retention-days: 7
