name: Build Basketball APK

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'
    
    - name: Install Buildozer
      run: pip install buildozer
    
    - name: Create buildozer.spec
      run: |
        echo '[app]
title = Мячик Баскетбол
package.name = myachik
package.domain = com.antoha
source.dir = .
source.include_exts = py
version = 1.0
requirements = python3,kivy
orientation = portrait
android.permissions = INTERNET' > buildozer.spec
    
    - name: Build APK
      run: buildozer android debug
    
    - uses: actions/upload-artifact@v4
      with:
        name: Мячик-APK
        path: bin/*.apk
